<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">
    
            <li class="dropdown notification-list">
                <a class="nav-link" href="pages-register.html">
                    <button type="button" class="btn register-btn btn-block btn-sm waves-effect waves-light">Register</button>   
                </a>
            </li>
            <li class="dropdown notification-list">
                <a class="nav-link" href="pages-login.html">
                    <button type="button" class="btn login-btn btn-block btn-sm waves-effect waves-light">Login</button>   
                </a>
            </li>
    
        </ul>
    
        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo text-center">
                <span class="logo-lg">
                    <img src="assets/images/task-manager/logo-lg.png" alt="" height="40">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-sm">
                    <!-- <span class="logo-sm-text-dark">U</span> -->
                    <img src="assets/images/task-manager/logo-sm.png" alt="" height="40">
                </span>
            </a>
        </div>
    
    </div> <!-- end container-fluid-->
</div>
<!-- end Topbar -->